﻿/*** Bootstrap overrides ***/
.remove-padding {
    padding: 0 !important;
}
.container {
    border:1px solid #cecece;
    margin-top: 1em;
}

.jumbotron {
    background: url("../Images/banner.jpg");
    background-size: 100% 100%;
    margin-top: 1em;
}

label {
    font-weight: normal;
}

/* Styles needed for GridView */
table a {
    color: #5a5a5a;
}
.bg-halloween {
    background-color: #8c8c8c;
    color: white;
    font-weight: bold;
}
.altRow {
    background-color: #f9f9f9;
}
.bg-halloween a, .bg-halloween span {
    padding: 0 0.5em;
    color: white;
}

