﻿/*** Bootstrap overrides ***/
.container {
    border:1px solid #cecece;
    margin-top: 1em;
    padding-bottom: 1em;
}

.jumbotron {
    background: url("../Images/banner.jpg");
    background-size: 100% 100%;
    margin-top: 1em;
}

label {
    font-weight: normal;
}

/* Other styles */
a {
    color: #8c8c8c;
}

.bg-halloween {
    background-color: #8c8c8c;
    color: white;
    font-weight: bold;
}
